@import url('http://roboto-webfont.googlecode.com/svn/trunk/roboto.all.css');

html {
	
    background-color:#0091ea;   
    color: #000;
}

ui-select, span {
    display:none;
}
ui-loader
{
	display:none;
}

.ui-page 
{
	outline-width: 0;
}

#titleLogo
{
	font-family: "Roboto";
	font-weight: 400;
	margin: 0 auto;
	height: 26px;
	color: whitesmoke;
	width: 82px;
}
.radioButtons
{
	float:left;
}

.z1{
  background: white;
  width: 315px;
  height: 333px;
  position: relative;
  margin: 50px auto;
  border-radius: 2px;
}

.formTitle
{
	height: 62px;
	background-color: #0f9d58;
	color: #fff;
	font-family: "Roboto";
	font-weight: 200;
	text-align: center;
	line-height: 58px;
	font-size: 1.5em;
}
#loginForm
{
	margin: 58px;
	margin-top: 46px;
	position: absolute;
}

#loginTextGroup
{
	
	margin: 0px -12px;
}

#loginButtonGroup
{
	width: 260px;
	margin: 77px -30px;
}
#passwordForgot
{
	margin: 0 auto;
	width: 201px;
}
#registerDiv{
	margin-top: 50px;
}
#registerForm
{
	margin: 0px 68px;
}
#registerTextGroup
{
	margin: 3px -25px;
}
#termCheck
{
	float: left;
	margin: 5px 15px;
}
#termAccept
{
	margin: 10px -36px;
	width: 266px;
}
#registerSubmit{
	margin: 3px 26px;
}

#ageDrop
{
	margin:6px 0px;	
}

#weightTxt
{
	width:160px;	
}

#height
{
	margin: 0px 0px;
}
.hiddenTxt
{
	visibility:hidden;
}
.textField
{
	height: 25px;
	width: 225px;
	color: black;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 20px;
	margin-top: 10px;
	border-style: solid;
	border-color: whitesmoke;
	padding-top: 5px;
	
}

.button {
    display: inline-block;
	position: relative;
	width: 120px;
	height: 38px;
	line-height: 36px;
	border-radius: 2px;
	font-size: 1.0em;
	background-color: #fff;
	color: #646464;
	text-align: center;
	float: left;
	margin: 5px;
	font-family: "Roboto";
	font-weight: 100;
}

.button > paper-ripple {
      border-radius: 2px;
      overflow: hidden;
}

.button.green {
      background-color: #0f9d58;
      color: #fff;
}

.button.grey {
      background-color: #eee;
}
    
.button.blue {
      background-color: #4285f4;
      color: #fff;
}
    

 .button.raised {
      transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
      transition-delay: 0.2s;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
    
.button.raised:active {
      box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
      transition-delay: 0s;
}
    
    
h3
{
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 20px;
}
input:focus {outline: none;
border-color:#0f9d58;
}


.paper-shadow {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: inherit;
  pointer-events: none;
}

.paper-shadow-top-z-1 {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
}

.paper-shadow-bottom-z-1 {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.checkbox {
  position: relative;
  top: -0.375rem;
  margin: 0 1rem 0 0;
  cursor: pointer;
}
.checkbox:before {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  content: "";
  position: absolute;
  left: 0;
  z-index: 1;
  width: 1rem;
  height: 1rem;
  border: 2px solid #f2f2f2;
}
.checkbox:checked:before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  height: .5rem;
  border-color: #009688;
  border-top-style: none;
  border-right-style: none;
}
.checkbox:after {
  content: "";
  position: absolute;
  top: -0.125rem;
  left: 0;
  width: 1.1rem;
  height: 1.1rem;
  background: #fff;
  cursor: pointer;
}

.radio {
	position: relative;
	top: -0.375rem;
	margin: 0.99em 1.5em 0 0;
	cursor: pointer;
	border-radius: 100%;
}

.radio:before {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	content: "";
	position: absolute;
	left: 0;
	z-index: 1;
	width: 1rem;
	height: 1rem;
	border: 2px solid #f2f2f2;
	border-radius: 50%;
	padding: 1px;

  
  
}
	
.radio:checked:before {
	/* -webkit-transform: rotate(-45deg); */
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	/* height: .5rem; */
	border-color: black;
	/* border-top-style: none; */
	/* border-right-style: none; */
	content: "\2022";
	font-size: 29px;
	text-align: center;
	line-height: 11px;
}
.radio:after {
	content: "";
	position: absolute;
	top: -0.125rem;
	left: 0;
	width: 1.5em;
	height: 1.1rem;
	background: #0091ea;
	cursor: pointer;
	margin-left: -2px;
}

#circle{
	z-index:1000;
}

.circle {
  width:0px;
  height:0px;
  background-color:#F3432F;
  border-radius:100%;
  margin-top:0px;
  margin-left:0px;
  top:50%;
  left:50%;
  position:absolute;
  -webkit-animation: mymove infinite; /* Safari and Chrome */
    -webkit-animation-duration: 2s; /* Safari and Chrome */
    animation: mymove infinite;
    animation-duration: 2s;
}

h2
{
	font-family:"Roboto";
	font-weight:400;
}
select
{
	-webkit-appearance: none;
	border-radius: 0%;
	width: 160px;
	height: 30px;
	text-align: center;
	box-shadow: 0px 1px 1px 0;
	border: 0px;
	font-family: "Roboto";
	font-weight: 200;
	margin:10px auto;
	text-indent: 3.65em;
	font-size:1.0em;
}
label
{
	font-family:"Roboto";
	font-weight: 200;
	
}
